body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Poppins;
}

.Maindivoftheconetenetwidtgh23478278 {
  width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Input Filters */

.Calsadhjfdhij435675huy input {
  width: 457px;
  height: 48px;
  opacity: 0px;
  border: none;
  box-shadow: 0px 0px 4px 0px #00000040;
  border-radius: 5px;
  padding-left: 12px;
}

.Calsadhjfdhij435675huy input::placeholder {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #c6c6c6;
  padding-left: 10px;
  padding-top: 2px;
}

.Searchuiew82348259 {
  position: relative;
  width: 457px;
  height: 48px;
}

.gfuyweguywer38747243h {
  position: absolute;
  top: 6px;
  right: 6px;
}

.gfuyweguywer38747243h img {
  width: 36px;
  height: 36px;
}

.Sortbysg2333 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #232b70;
}

.q423Soryt6563234 {
  width: 199px;
  height: 45px;
  border: 1px solid #c60937;
  border-radius: 5px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #232b70;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SortOptionnewCalssfiedflex {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.Filyeruhyg6734gyws76 {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 133px;
}

.wishlistmaindidbdnn34 {
  display: flex;
  justify-content: flex-start;
  margin-left: 60px;
  margin-right: 60px;
}

.rsu3274243y82348778234 {
  width: 100%;
  margin-top: 50px;
  /* margin-left: 10px; */
}
.sssrsu3274243y82348778234 {
  width: 900px;
  margin-top: 50px;
  margin-left: 10px;
}

.Maindyu23784yu3478y63hgs {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  align-items: flex-start;
}

.filteroptionmaindfu237487 {
  width: 297px;
  height: auto;
  border: none;
  display: flex;
  justify-content: center;
}
.Buttomnofthsearch3244 {
  background-color: transparent;
  border: none;
  width: 36px;
  color: #ffffff;
  height: auto;
  top: 444px;
  left: 303px;
  border-radius: 0px;
  padding: 0px 0px;
  font-size: 0px;
  line-height: 0px;
  font-family: "Poppins";
  border: #011ae3;
  margin-top: 0px;
  text-align: center;
}
.Buttomnofthsearch3244:active {
  background-color: transparent;
  width: 36px;
  color: #ffffff;
  height: auto;
  top: 444px;
  left: 303px;
  border-radius: 0px;
  padding: 0px 0px;
  font-size: 0px;
  line-height: 0px;
  font-family: "Poppins";
  border: #011ae3;
  margin-top: 0px;
  text-align: center;
  border: none !important;
}
/* Input Filters */

.seemoreiondiodbhnd {
  align-self: center;
}

.seemoremaindivc23 {
  border: 2px solid #c60937;
  width: 141px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.SeemorenewClassifiedsse {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #12046c;
}
